h1{
    color: blue;
    font-size: 70px ;
    }
    .name{
        color: blueviolet;
        font-size: 30px ;
    }

    .margin{
        border: 5px;
        color: black;
        border-style: solid;
        width: 400px;
        height: 200px;
        background-color: limegreen;
        margin-bottom: 10px;

    }

    .pading{
        border: 5px;
        color: black;
        border-style: solid;
        width: 100px;
        height: 50px;
        background-color: indigo;
    }
    .box{
        display: flex;
        gap: 100px;
    }

    